*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}


  

html{
    font-size: 62.5%;
 overflow-x: hidden;    
}
body{
    margin: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}


::-webkit-scrollbar {
    width: .6rem;
   
    border-radius: 1rem 
  }
  
  ::-webkit-scrollbar-thumb {
    width: 2rem;
    background-color: rgb(0, 0, 0);
    border-radius: 2cm; 
   
  }
 
  ::-webkit-scrollbar-thumb:hover {
   width: 1rem;
    background-color:lightblue;
  }

#mouseTracker {
    width: 10px; 
    height: 10px;
    /* background-image: url('bx-cycling.svg');  */
    background-color: rgb(249, 248, 248);
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transition: transform 0.3s ease-out;
  }



section{
    min-height: 200hv;
    padding: 10rem 9% 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
width: 100%;
padding: 2rem 9%;
display: flex;

background: rgb(9, 0, 0);
/* border-radius: 3px; */
justify-content: space-between;
align-items: center;
z-index: 100;

.header.stckly{
border-bottom: .1rem solid rgb(117, 117, 24);
}

}

.logo{
    /* margin-left:px
    ; */
    /* margin-right: 00px; */
    font-size: 3rem ;
    position: static;
    margin-right: 700px;
    color: aliceblue;
    font-weight: 700;
    /* position: relative; */
    position: absolute;
    cursor: default;
    /* transform: 10s; */
    transition: .5ss ;
    
}
.logo:hover{
    /* transition: tra;\ */
    /* text-replace: ; */
    transform: translate;
    /* font-size: 3.2rem ; */
    color: lightblue;
    text-decoration: underline  silver ;
}
.navbar{
    gap: 20px;
    /* background-color: black; */
    /* margin-right: 200px ; */
    align-items: center;
}
.navbar a{
    /* margin-right: 3rem; */
    /* padding: 20px; */
    font-weight: 700;
    /* align-items: center; */
    font-size: 1.7rem;
    color: aliceblue;
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: lightblue;
}

/* .navbar{
    margin-right: 100px;
    /* margin-left: 500px; */
    /* align-items: center; */
    /* padding: 0; */


menu-icon{
    font-size:3.6rem;
    color: aliceblue;
    /* display: flex; */
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-img img{

    /* animation: fl; */
    animation: floatImage 4s ease-in-out infinite;
width: 35vw;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.6rem);
    }
    100% {
        transform: translateY(0);
    }
}


.home-content h3{
font-size: 3.2rem;
font-weight: 700;

}

.home-content h3:nth-of-type(2){
margin-bottom: 2rem;
}


span{
    color: rgb(74, 152, 220);

}
.home-content h1{
    position: relative;
    display: inline-block;
    color: aliceblue;
    font-size: 24px;
    cursor: pointer;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    transition: .4s;
    transform: translate();
    /* text-transform: .4s capitalize; */
    text-transform: none;
    /* transition: text-transform 1s ease; */
}
.home-content h1::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: red;
    height: 2px; /* Line height */
    background-color: rgb(255, 255, 255);
    transform-origin: bottom right;
    transform: scaleX(0); /* Initial state: line is not visible */
    transition: transform 0.5s ease-in-out; /* Transition for line scaling */
   
    /* text-transform:  uppercase; */
}
.home-content h1:hover::after{
     transform: scaleX(1); /* Line expands to the right on hover */
     transform: translate(-34);
     color: rgb(239, 56, 5);
     color: red;
     /* transform: scaleX(1); Line expands to the right on hover */
}
.home-content p {
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 2rem;
    color: aliceblue;
    margin: 3rem 1.5rem 3rem 0;
    /* background-color: tan; */
    transition: .4s ease;
    /* transform: translateZ(); */
}

.social-media a:hover{
/* color: lightblue; */
color: black;
/* transition: t; */
color: aliceblue;
transform: translate(20px);
border: .2rem solid rgb(161, 25, 25);
box-shadow: 0 0 1rem white;
width: 4.4rem;
height: 4.4rem;
}





.btn{
    display: inline-flex;
    padding: 1rem 2.8rem;
    background: transparent;
    border-radius: 4rem;
    /* background: 0 0 1rem lightblue; */
    box-shadow: 0 0 1rem lightblue;
    font-size: 1.6rem;
    color: aliceblue;
    font-weight: 600;
    transition: .5s ease;

}
.btn:hover{
    box-shadow: 0 0 1rem red;
}

.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: transparent;

}

.about-img img{
    width: 500px;
    animation: floatImage 5s ease-in-out infinite;
 /* height: 200px;    */
}


@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.6rem);
    }
    100% {
        transform: translateY(0);
    }
}

.heading{
    text-align: center;
    font-size: 4.5rem;

}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2.6rem;

}
.about-content p{
    font-size: 1.6rem;
    max-width: 2rem 0 3rem;

}

.services h2{
    margin-bottom: 5rem;

}
.service-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.service-container .service-box{
   
flex: 1 1 30rem;
background:  black;
padding: 3rem 2rem 4rem ;
border-radius: 2rem;
/* width: 5px; */
text-align: center;
border: .2rem solid lightblue;
box-shadow: 0 0 1rem lightblue;
transition: .5s ease;
margin-top: 20px;
margin-bottom: 20px;
/* padding:20rem; */
}


.service-container .service-box:hover {
    box-shadow: 0 0 1rem rgb(255, 0, 0);
    transform: scale(1.02);
}

.service-box i {
    font-size: 7rem;
    color: aliceblue;
}

.service-box h3{
 font-size: 2.6rem;   
}

.service-box p {
    /* margin: auto; */
    margin-bottom: 20px;
    font-size: 1.6rem;

}

.service-box img{
    width: 100%;
}


/* .porfolio{ */
    /* background-color: black; */
    /* height: 20cm;
    width: 100%; */
/* } */

.porfolio h2{

    margin-bottom: 4rem;
}


.porfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.porfolio-container .porfolio-box{
position: relative ;
border-radius: 2rem;
box-shadow:  0 0 1rem lightblue ;
overflow: hidden;
width: 90%;
margin-left: auto;
margin: auto;
display: flex;
transition: .5s ;

}

.porfolio-container .porfolio-box:hover{
    box-shadow:  0 0 1rem rgb(230, 57, 10) ;
    /* width: 9%; */
}

.porfolio-box img {
    width: 100%;
   transition: .5s ease;
}

.porfolio-box img {
    /* transition: ; */
    transform: scale(1.1);
}




.porfolio-box .portfolio-layer{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient (rgba(0, 0, .1, lightblue));
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
padding: 0 4rem;

transform: translateY(100%);
transition: .5s ease;

}


.porfolio-box:hover .portfolio-layer{
    transform: translateY(0);

}

.portfolio-layer h4{
    font-size: 3rem;
    color: black;

}


.portfolio-layer p{
    font-size: 1.6rem;
    color: black;
    margin: .3rem 0 1rem;
}
.portfolio-layer a{
display: inline-flex;
justify-content: center;
align-items: center;
width: 5rem;
height: 5rem;
background: aliceblue;
border-radius: 50%;
}
.portfolio-layer a i {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.contact h2{
margin-bottom: 3rem;

}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;


}


 form .input-box{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.input-box input{
    width: 100%;
padding: 1.5rem;
font-size: 1.6rem;
color: rgb(255, 255, 255);
background: rgba(11, 1, 1, 0.712);
border-radius: .8rem;
/* margin: .7rem 0; */
margin-left: auto;
margin-right: auto;
margin-top: 1rem;
}
 form textarea {
width: 100%;
padding: 1.5rem;
font-size: 1.6rem;
color: rgb(255, 255, 255);
background: rgba(11, 1, 1, 0.712);
border-radius: .8rem;
margin: .7rem 0;
margin-left: auto;
margin-right: auto;
/* margin-top: ; */

}

form .input-box input{
    width: 49%;
}


.contact form textarea{
    resize: none;
    /* width: auto; */
    
}
#mbtn{
    /* margin: 20px; */
    margin-top: 1rem;
    width: 20rem;
    text-align: center;
    align-items: center;
    /* place-content: c;
     */
     justify-content: center;
     cursor: pointer;
}

form{
    margin-bottom: 20px;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: rgb(9, 0, 0);

}

.footer-text p {
    font-size: 1.6rem;
}

.footericontop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: silver;
    border-radius: .8rem;
    /* transform: ; */
    transition: .5s ease;
} 

.footericontop a:hover{
    box-shadow: 0 0 1rem lightblue
}

footericontop a i {
 font-size: 2.4rem;   
 color: rgb(169, 0, 0);
}


/*  */
@media (max-width:1200px){
    html{
        font-size: 55%;

    }
}

@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem ;
        
    }


    .services{
        padding-bottom: 7rem;
    }

    .porfolio {
        /* padding: ; */
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }

    .contact {
        min-height: auto;
    }
    
}

@media (max-width: 768px) {
#menu-icon{
    display: block;

}

.navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .navbar a {
    margin-right: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
   /* /* .navbar { */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    /* padding: 1rem 3%; */
    /* background: #1f242d ; */
    /* border-top: .1rem solid black; */
    /* box-shadow: 0 .5rem 1rem  lightblue; */
/* display: none; */
/* width: ; */
   /* }  */


   /* .navbar.active {
    display: block; */
   /* } */


   .navbar a{
    float: none;
    display: block;
    font-size: 2rem;
    width: 100%;
    margin: 3rem 0 ;
   } 

   .home {
    flex-direction: column;
   }
   .home-content h3 {
    font-size: 2.6rem;
  
}
.home-content h1{
    font-size: 5rem;
}

.home-img img{
    width: 70vw;
    margin-top: 4rem;
}

.about {
    flex-direction: column;

}
.about img{
    width: 70wv;
    margin-top: 4rem;
} 

.services h2{
margin-bottom: 3rem;

}

.porfolio h2 {
    margin-bottom: 3rem;

}

.porfolio-container {
    grid-template-columns: repeat(2, 1fr);
}


}



@media (max-width: 617px) {

    .porfolio-container {
        grid-template-columns: repeat(1, 1fr);
    }

}


@media (max-width: 450px) {
        html {
            font-size: 50%;
        }
.contact form .input-box input{
    width: 100%;
}
.service-container .service-box{
    width: 20%;
}
}


@media (max-width: 365px) {
    .home-img img {
        width: 90wv;
    }

    .about-img img {
        width: 90vw;
    }
    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
    }
}

